#id_form-0-title{
    background-color: orange;
}
#id_form-1-title{
    background-color: orange;
}
#id_form-2-title{
    background-color: orange;
}
#id_form-3-title{
    background-color: orange;
}
#id_form-4-title{
    background-color: orange;
}
#id_form-5-title{
    background-color: orange;
}
