#id_username{
    background-color: orange;
}
#id_first_name{
    background-color: orange;
}
#id_last_name{
    background-color: orange;
}
#id_email{
    background-color: orange;
}
#id_password1{
    background-color: orange;
}
#id_password2{
    background-color: orange;
}